*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:before, 
:after{
    content:'';
    position:absolute;
}
body{
    background:linear-gradient(-35deg, #333 50%, transparent 50.1%),
    repeating-linear-gradient(0deg ,rgba(54,54,54,.2)  1px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, rgba(54,54,54,.2) 1px, transparent 2px, transparent 4px), #F5F5F5;
    min-height:100vh;
    overflow:hidden;
}
.ellite{
    position:relative;
    width:1248px;
    height:100vh;
    font-family: Calibri;
    color:#FFF;
    font-size:1em;
    margin:0 auto;
    display:flex;
}
.ellite-aside{
    position:relative;
    width:250px;
}
.ellite-header{
    position:relative;
    width:250px;
    height:36px;
    top:0;
    left:0;
    transform:translateY(-14px);
    display:flex;
    z-index:10;
}
.ellite-header:after{
    width:140px;
    height:35px;
    background:#F5F5F5;
    top:2px;
    left:85px;
    -webkit-transform:skewX(25deg);
    transform:skewX(25deg);
    box-shadow:-1px 0 #333, -10px 0 #F5F5F5;
}
.ellite-header h1{
    position:relative;
    top:2px;
    flex-grow:1;
    line-height:36px;
    padding-left:108px;
    color:#333;
    font-size:1.2em;
    z-index:100;
}
.ellite-container{
    position:relative;
    width:748px;
}
.ellite-chat{
    position:absolute;
    background:#333;
    width:728px;
    height:486px;
    top:80px;
    left:50%;
    transform:translateX(-50%);
    -webkit-box-shadow: 0 2px 10px 0 rgba(54,54,54,0.5);
    -moz-box-shadow: 0 2px 10px 0 rgba(540,54,54,0.5);
    box-shadow: 0 2px 10px 0 rgba(54,54,54,0.5);
}
.ellite-inner-chat{
    position:relative;
    width:100%;
    height:100%;
}
.ellite-chat:before, 
.ellite-chat:after,
.ellite-inner-chat:before, 
.ellite-inner-chat:after{
    width:100px;
    height:100px;
    background:transparent;
}
.ellite-chat:before{
    border-top:solid 2px #333;
    border-left:solid 2px #333;

    top:-6px;
    left:-6px;
}
.ellite-chat:after{
    top:-6px;
    right:-6px;
    border-top:solid 5px #333;
    border-right:solid 5px #FFF;
}
.ellite-inner-chat:before{
    bottom:-6px;
    left:-6px;
    border-bottom:solid 2px #F5F5F5;
    border-left:solid 2px #333;
}
.ellite-inner-chat:after{
    bottom:-6px;
    right:-6px;
    border-right:solid 2px #F5F5F5;
    border-bottom:solid 2px #F5F5F5;
}
.ellite-letter{
    position:absolute;
    width:340px;
    height:60px;
    top:155px;
    left:105px;
    border:double 3px rgba(245,245,245,.2);
}
.ellite-letter h3{
    position:absolute;
    background:rgba(245,245,245,.5);
    width:320px;
    height:34px;
    top:10px;
    left: 7px;
    color:rgba(51,51,51,.8);
    font-size:1.2em;
    text-align:center;
    line-height:34px;
    letter-spacing: 4px;
    text-transform: capitalize;
    border-radius: 6px;
}
.ellite-box{
    position:absolute;
    background:#333;
    width:250px;
    height:220px;
    top:200px;
    left:-8px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(54,54,54,0.5);
    -moz-box-shadow: 0 2px 10px 0 rgba(540,54,54,0.5);
    box-shadow: 0 2px 10px 0 rgba(54,54,54,0.5);
    z-index:100;
}
.ellite-box:before{
    width:150px;
    height:60px;
    background:#333;
    top:-28px;
    left:0;
    border-radius:6px;
    border-right:solid 4px rgba(250,250,250,.6);
    border-bottom:solid 4px rgba(250,250,250,.6);
}
.ellite-line:before, 
.ellite-line:after{
    width:1px;
    height:210px;
    background:#333;
    top:-234px;
    left:50%;
    opacity:.7;
    -webkit-transform-origin:bottom center;
    transform-origin:bottom center;
    z-index:100;
}
.ellite-line:before{
    transform:rotateZ(20deg);
}
.ellite-line:after{
    transform:rotateZ(-20deg);
}
.ellite-img{
    position:absolute;
    width:60px;
    height:60px;
    margin-top:25px;
    margin-left:4px;
    top:calc(50% - 37px);
    border-radius:50%;
    z-index:10;
}
.ellite-img img{
    width:100%;
}
.ellite-img {
    width:60px;
    height:60px;
    filter:brightness(0%) invert(1);
}
.ellite-img:after{
    width:10px;
    height:10px;
    background-color:rgba(245,245,245,.9);
    top:-16px;
    left:117.0px;
    border-radius:50%;
}
.ellite-content{
    width:240px;
    height:90px;
    margin-top:15px;
    margin-left:5px;
    display:flex;
    color:#333;
}
.ellite-col:first-child{
    width:160px;
    margin-right:5px;
    border-right:solid 0px rgba(245,245,245,.1);
}
.ellite-col h2{
    background:#F5F5F5;
    width:165px;
    height:25px;
    margin-top: 20px;
    margin-left: 38px;
    color:#333;
    text-transform:uppercase;
    font-size:15px;
    line-height:25px;
    border-radius: 6px;
    text-align:center;
    letter-spacing: 1px;
    border: 1px solid rgba(245,245,245,.9);
}
.ellite-clock{
    width:100%;
    height:100px;
    margin-top:-25px;
    margin-left:50px;
    display:flex;
    justify-content:space-between;
}
.ellite-clock h3{
    width:100%;
    height:70px;
    line-height:72px;
    color:#F5F5F5;
    font-size:2.6em;
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:-9999999;
}
.circles li{
    position: absolute;
    background: rgba(245,245,245, 0.2);
    width: 20px;
    height: 20px;
    display: block;
    list-style: none;
    animation: animate 25s linear infinite;
    bottom: -150px;
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 8%;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}